# Auto detect text files and perform LF normalization

*.cs diff=csharp
*.c diff=c
*.h diff=c
*.md diff=markdown

*.cs linguist-detectable=true
*.c linguist-detectable=true
*.md linguist-detectable=true
*.bas linguist-language=visual-basic-6-0

